html,
body,
#root,
.App {
  height: 100%;
}

.app-container {
  height: 100%;
}

.ceiss-footer {
  box-shadow: 0 100vh 0 100vh #f5f5f5;
}

label {
  margin-top: 1em;
  margin-bottom: 1em;
}

.lightning-form {
  padding: 2em 2em 2em 2em;
}
