html,
body,
#root,
.App {
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #161719;
}

a {
  color: #ff3375;
}

a:hover {
  color: #ff3375;
}

.ceiss-lightning {
  background-color: #181b1d;
}

.ceiss-footer {
  font-family: 'Poppins';
  color: #f4f4f4;
  background-color: #181b1d;
  box-shadow: 0 100vh 0 100vh #181b1d;
  strong {
    color: white;
  }
}

.input,
textarea {
  font-family: 'Lato', monospace;
  box-sizing: border-box;
  margin: 1em 0 1em 1em;
  outline: none;
  border: none;
  width: 90%;
  background-color: white;
}
